<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Huy Nguyen - Curriculum Vitae</title>
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
	<!--link style sheet -->
	<link rel="stylesheet" href="css/simple-lineicons.css">
	<link rel="stylesheet" href="css/hover.css">
	<link rel="stylesheet" href="css/bulma.css">
	<link rel="stylesheet" href="css/style.css?version1.0">
	<link rel="stylesheet" href="css/responsive.css">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script>
	<!--gsap-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="js/tether.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
	<script src="js/script.js"></script>
</head>

<body data-ajax-transitions="true" ng-controller="infoCtrl">
	<div id="ajax-loading-screen" data-disable-fade-on-click="1" data-effect="standard" data-method="standard">
		<span class="loading-icon none">
			<span class="default-loading-icon spin"></span>
		</span>
	</div>
	<div class="container-fluid">
		<!-- Start left side bar-->
		<div class="row">
			<nav id="left-sidebar" class="col-sm-6 col-md-4 col-lg-3 col-xs-12 left-sidebar">
				<div class="user-info">
					<!-- <div id="gsap-test"></div> -->
					<img src="images/avatar-svg.svg" id="avatar" class="avatar img-responsive center-block img-circle" width="74" height="74" alt="">
					<div class="user-name text-xs-center">
						Huy Nguyễn
					</div>
					<div class="text-xs-center text-muted"><small class="tip-text">{{currentInfo.helloText}}</small></div>
					<ul class="list-group list-group-info">
						<li><i class="icon-location-pin icons"></i><a ng-click="openModal()" href>{{currentInfo.address}}</a></li>
						<li><i class="icon-envelope icons"></i>{{currentInfo.mail}}</li>
						<li><i class="icon-phone icons"></i>{{currentInfo.phone}}</li>
						<li><i class="icon-social-facebook icons"></i><a ng-href="{{currentInfo.fb}}">{{currentInfo.fb}}</a></li>
					</ul>
				</div>
				<!--end user info-->
				<div id="target">
					<h3>#Objective</h3>
					<p>
						{{currentInfo.objective}}
					</p>
				</div>
				<!-- <div id="skills">
					<h3>#Skills</h3>
					<div class="_skill-container">
						<a ng-repeat="s in skills" ng-href="{{s.href}}" target="_blank"><img ng-src="images/{{s.image}}" alt="{{s.name}}" class="img-responsive hvr-float" width="50" height="50"></a>
					</div>
				</div> -->
				<div id="interests">
					<h3>#Interests</h3>
					<ul>
						<li>- Footballs</li>
						<li>- Music</li>
						<li>- Coding</li>
					</ul>
				</div>
			</nav>
			<!-- End left side bar-->
			<!-- Main content-->
			<div class="col-md-8 col-sm-6 col-lg-9 col-xs-12 m-t-1 main-content">
				<div id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default first">
						<div class="panel-header" role="tab" id="headingOne">
							<h5 class="panel-title">
				           #Education
				      </h5>
						</div>
						<div id="educationSection" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
							<ul>
								<li>
									<span>- Li Tu Trong High School - Nha Trang - Khanh Hoa (<small class="time text-muted">2005-2008</small>)</span>
								</li>
								<li>
									<span>- Ho Chi Minh City University of Science (<small class="time text-muted">2008-2011</small>)</span>
								</li>
							</ul>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-header" role="tab" id="headingTwo">
							<h5 class="panel-title">#Activity</h5>
						</div>
						<div id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo" class="timeline">
							<header class="header-timeline first">
								<span>Start</span>
							</header>
							<section ng-repeat="k in dataWorkexperience" class="timeline-group first" ng-if="k.years == '2015'">
								<div class="item-marker"><i class="icon-check icons text-success" ng-if="!k.process"></i></div>
								<div class="item-content">
									<div class="work-experience m-t-1">
										<span class="company-name">{{k.company}}</span>
										<span class="_time"><time>({{k.time}})</time></span>
									</div>
									<ul class="m-t-1">
										<li ng-repeat="z in k.works">
											{{z.content}}
										</li>
									</ul>
								</div>
							</section>
							<header class="header-timeline second">
								<span class="small">2017</span>
							</header>
							<section ng-repeat="k in dataWorkexperience" class="timeline-group second" ng-if="k.years == '2017'">
								<div class="item-marker process">
									<div class="spinner" ng-if="k.process">
										<div class="rect1"></div>
										<div class="rect2"></div>
										<div class="rect3"></div>
									</div>
								</div>
								<div class="item-content">
									<div class="work-experience m-t-1">
										<span class="company-name">{{k.company}}</span>
										<span class="_time"><time>({{k.time}})</time></span>
									</div>
									<ul class="m-t-1">
										<li ng-repeat="z in k.works">
											{{z.content}}
										</li>
									</ul>
								</div>
							</section>
							<div class="header-timeline third">
								<span>End</span>
							</div>
						</div>
					</div>
				</div>
				<!--end accordion -->
				<!-- <div class="fb-comments" data-href="http://vhuy2571990.github.io" data-numposts="5"></div> -->
				<div id="fb-root"></div>
				<script>
					(function(d, s, id) {
						var js, fjs = d.getElementsByTagName(s)[0];
						if (d.getElementById(id)) return;
						js = d.createElement(s);
						js.id = id;
						js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.11';
						fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk'));
				</script>
			</div>
			<!-- end col 8-->
		</div>
	</div>
	<!-- End content-->
	</div>
	</div>
	<!-- end containter -->
	</div>
	<div class="modal">
		<div class="modal-background" ng-click="closeModal()"></div>
		<div class="modal-content">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.605617216708!2d106.65924561489182!3d10.764847292329435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ee9286da001%3A0xb27f9bacd2eb8c17!2zNjY2IMSQxrDhu51uZyAzIFRow6FuZyAyLCBwaMaw4budbmcgMTQsIFF14bqtbiAxMCwgSOG7kyBDaMOtIE1pbmgsIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1510201216378"
			  width="600" height="450" frameborder="0" style="border:0" allowfullscreen>
		 </iframe>
		</div>
		<button class="modal-close is-large" ng-click="closeModal()" aria-label="close"></button>
	</div>
</body>

</html>
