<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Karma Store Fashion</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro" rel="stylesheet">
  <link rel="stylesheet" href="./css/simple-lineicons.css">
  <link rel="stylesheet" href="../../css/bulma.css">
  <link rel="stylesheet" href="./css/karma.css">
  <script src="../../node_modules/smooth-scrollbar/dist/smooth-scrollbar.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>

<body>
  <div class="app-wrapper" id="app-wrapper">
    <header id="top-header">
      <div class="container">
        <div class="menu-list">
          <nav class="navbar">
            <div class="navbar-item wrapperlogo"><a href="../karma/karma.html" class="logo-item"><span class="text-logo">Karma</span></a></div>
            <div class="mobile-icon is-hidden-desktop">
              <ul>
                <li><a href="#"><i class="icon-magnifier icons"></i> </a></li>
                <li><a href="#"><i class="icon-user icons"></i> </a></li>
                <li><a class="minicart" v-on:mouseover="showCart = !showCart" v-on:mouseout="showCart = false"><span class="cart-number" v-if="cartObj && cartObj.length !== 0">{{cartObj.length}}</span><i class="icon-handbag icons"></i></a></li>
              </ul>
            </div>
            <div class="navbar-menu navbar-brand">
              <ul class="navbar-start navbar-item">
                <li>
                  <router-link to="/foo">Foo</router-link>
                </li>
                <li><a href="#">Men</a></li>
                <li><a href="#">Women</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
              <ul class="navbar-end navbar-item">
                <li><a><i class="icon-magnifier icons"></i></a></li>
                <li><a><i class="icon-user icons"></i></a></li>
                <li><a class="minicart" v-on:mouseover="showCart = !showCart" v-on:mouseout="showCart = false"><span class="cart-number" v-if="cartObj && cartObj.length !== 0">{{cartObj.length}}</span><i class="icon-handbag icons"></i></a></li>
              </ul>
              <div class="cart-mini" v-if="cartObj && cartObj.length !== 0" v-bind:class="{_show: showCart}" v-on:mouseover="showCart = true" v-on:mouseout="showCart = false">
                <div class="cart-head">
                  <h4>Mini cart</h4>
                  <div class="total-price"><span>Total price: $</span> <span class="number-price">{{cartTotalPrice}}</span></div>
                </div>
                <ul id="cart-contentscroll"  data-scrollbar>
                  <li v-for="ic in cartObj">
                    <img :src="ic.image" width="40" alt="">
                    <div class="minicart-itemcontent">
                      <ul>
                        <li><span>{{ic.name}}</span></li>
                        <li><span><span>Qty:</span><input type="text" class="qty" v-model="ic.qty" v-on:change="refreshCart()"> * {{ic.price}} => <span>$</span>{{Math.round(ic.qty * ic.price)}}</span></li>
                        <li><a class="button is-black  is-outlined" v-on:click="removeCartItem(ic)"><span>Remove</span></a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
                <div class="button-wrapper-minicart">
                  <a class="button is-danger  is-outlined" v-on:click="clearCart()"><i class="icon-trash icons"></i> <span>Clear All</span></a>
                  <a class="button is-black  is-outlined"><i class="icon-basket-loaded icons"></i> <span>Checkout</span></a>
                </div>
              </div>
            </div>
            <button class="button navbar-burger" data-target="navMenu" v-on:click="toggleVar = !toggleVar">
              <span></span>
              <span></span>
              <span></span>
            </button>
          </nav>
        </div>
      </div>
      <div class="mobile-sidebarmenu is-hidden-desktop" v-bind:class="{actived: toggleVar}">
        <ul class="navbar-start">
          <li class="navbar-item">
            <router-link to="/foo">Foo</router-link>
          </li>
          <li class="navbar-item"><a href="#">Men</a></li>
          <li class="navbar-item"><a href="#">Women</a></li>
          <li class="navbar-item"><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </header>
    <div class="container-wrapper">
      <div class="top slider">
        <slider-wrapper>
          <div class="item-list-item" v-for="(item, index) in images" v-bind:class="{active: isActive(index)}">
            <div class="item-content">
              <div class="item-description" v-bind:class="item.classDes" v-html="item.description">
              </div>
              <img :src="item.imgSrc" v-on:mouseover="stopRotation" v-on:mouseout="startRotation" />
            </div>
          </div>
        </slider-wrapper>
      </div>
      <div class="container" id="main-content">
        <div class="notification is-primary" v-bind:class="{'_show': showMessage}"> <button class="delete" v-on:click="clearMessage"></button><span>{{message}}</span></div>
        <h1 class="item-title"># Men Casual Slim Shirts Hot Collection</h1>
        <div class="item-list columns" v-for="v in newArr">
          <div class="column item" v-for="(item, i) in v" :key="item.id" v-bind:class="{'adding': item.isLoading}">
            <div class="img-wrapper" v-on:mouseout="stopSlide(item)" v-on:mouseover="startSlide(item)">
              <img :src="item.image" alt=""/><img v-if="item.listImages" class="img-slide" v-for="img in item.listImages" :src="img" alt=""/>
              <a class="button is-black is-inverted is-outlined previewitem is-hidden-mobile" v-on:click="zoomIn(item)" :disabled="item.isLoading"><i class="icon-magnifier-add"></i></a>
              <a class="button is-black is-inverted is-outlined addtocart is-hidden-mobile" v-on:click="addTocart(item)" :disabled="item.isLoading" v-bind:class="{'disabled is-loading': item.isLoading}"><i class="icon-basket"></i></a>
            </div>
            <div class="item-name">{{item.name}}</div>
            <div class="item-price"><span>$</span>{{item.price}}</div>
            <div class="button-wrapper is-hidden-desktop">
              <a class="button is-outlined" v-on:click="addTocart(item)" :disabled="item.isLoading" v-bind:class="{'disabled is-loading': item.isLoading}">Add to cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- modal image zoom in -->
    <div class="modal" v-bind:class="{'is-active': modalToggle}">
  		<div class="modal-background" v-on:click="closeModal"></div>
  		<div class="modal-content" data-scrollbar>
  			<img :src="imgZoom" alt="">
  		</div>
  		<button class="modal-close is-large" v-on:click="closeModal" aria-label="close"></button>
  	</div>
    <!-- end -->
  </div>
  <style media="screen">
    #cart-contentscroll {
      height: 290px;
      overflow: auto;
    }
  </style>
  <script src="./js/data.js"></script>
  <script src="./js/karma.js"></script>
</body>

</html>
