<!DOCTYPE html>
<html lang="en" ng-app="moduleMain">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="css/css.css">
	<link rel="stylesheet" type="text/css" href="full-page-effects/jquery.fullPage.css" />
	
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="full-page-effects/jquery.fullPage.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
</head>
<body  ng-controller="ctrlSlide">
	<div class="modal-video">
		<a href="#" class="hero-modal-close" rel="nofollow">
			<img src="images/delete.png" alt="">
		</a>
		<iframe width="100%" id="video-youtube-id" height="100%" src="" frameborder="0" allowfullscreen></iframe>
	</div>
	<div id="fullpage">
		<section class="header-section section js-full-height overlay-parallax" id="video-section">
			<header>
				<nav id="navigation">
					<div class="left">
						<img src="images/Logos.png" alt="GNT" class="logo-gnt img-responsive">
						<ul>
							<li><a href>Services</a></li>
							<li><a href>Projects</a></li>
							<li><a href>Technologies</a></li>
						</ul>
					</div>
					<div class="right">
						<a href>Contact Us</a>
					</div>
				</nav>
			</header>
			
			<video id="video-gnt-background" class="grayscale" data-keepplaying loop>
				<source data-src="vid.mp4" src="vid.mp4" type="video/mp4">
			</video>
			<div id="gnt-description">	
				<div class="slogan-text left">With you</div>
				<div class="slogan-text right">We challenge infinite possibilites</div>
				<div class="icon-watch"><img src="images/icon-watch.png" alt="Play fullscreen"></div>
			</div>
			<a href="#whatwedo" class="scroll-down next-section"><span></span><span></span><span></span></a>
		</section>
		<section class="info-section fp-auto-height section js-full-height" id="section-info">
			<div class="wrapper-section-whatwedo">
				<div class="left-field">
					<h2>What we do</h2>
					<div class="item-info item-1">
						<div class="item-icon">
							<img src="images/human-resources.png" alt="" class="img-responsive">
						</div>
						<div class="item-description">
							<h3>Human Resources</h3>
							<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos nesciunt expedita error tenetur officiis officia numquam velit natus, ratione, fuga voluptas laudantium, consequuntur dicta soluta, veniam adipisci autem dolores voluptatibus.
							</span>
							<p><a href="#" class="read-more"> Read more >></a></p>
						</div>
					</div>
					<div class="item-info item-2">
						<div class="item-icon">
							<img src="images/solution.png" alt="" class="img-responsive">
						</div>
						<div class="item-description">
							<h3>Solutions</h3>
							<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos nesciunt expedita error tenetur officiis officia numquam velit natus, ratione, fuga voluptas laudantium, consequuntur dicta soluta, veniam adipisci autem dolores voluptatibus.
							</span>
							<p><a href="#" class="read-more"> Read more >></a></p>
						</div>
					</div>
					<div class="item-info item-3">
						<div class="item-icon">
							<img src="images/product.png" alt="" class="img-responsive">
						</div>
						<div class="item-description">
							<h3>Products</h3>
							<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos nesciunt expedita error tenetur officiis officia numquam velit natus, ratione, fuga voluptas laudantium, consequuntur dicta soluta, veniam adipisci autem dolores voluptatibus.
							</span>
							<p><a href="#" class="read-more"> Read more >></a></p>
						</div>
					</div>
				</div>
				<div class="right-field"><img src="images/Computer.png" alt="" class="img-responsive"></div>
			</div>
		</section>
		<section class="feedback-section section fp-auto-height  js-full-height" id="feedback-section">
			<div class="text-center text-bold axeroItro">
				Trusted by more than <strong>100+ businesses,</strong> <br>
				with <strong>100+ good reviews</strong>
			</div>
			<div class="ng-controller">
				<div class="feedback-wrapper text-center">
					<div class="nav next-slide"><img src="images/right-arrow.png" alt="" ng-click="nexSlide()"></div>
					<div class="nav previous-slide"><img src="images/left-arrow.png" alt="" ng-click="previousSlide()"></div>
					<div class="feedback-item" ng-class="{'active': f.active}" ng-repeat="f in slideList">
						<img ng-src="{{f.imgUrl}}" alt="microsoft" class="img-responsive">
						<div class="text-center m-t-20">
							<h3>{{f.author}}</h3>
							<i class="text-muted">{{f.position}}</i>
						</div>
						<blockquote class="feedback-description">
							<span>{{f.feedBackContent}}</span>
						</blockquote>
					</div>
				</div>
				<div class="slide-signal">
					<div class="signal-item" ng-class="{'active': z.active}" ng-repeat="z in slideList"></div>
				</div>
			</div>
		</section>
		<section class="section fp-auto-height" id="section-footer">
			<div class="logo-company">
				<div class="logo-item" ng-class="{'active': z.active}" ng-repeat="z in slideList">
					<div class="center-image">
						<img ng-src="images/{{z.logoCompany}}" alt="">
					</div>
				</div>
			</div>
			<div class="news-wrapper">
				<div class="news">
					<span class="title">Fresh News</span>
				</div>
				<div class="news-item" ng-repeat="k in listNews">
					<div class="image-news">
						<img ng-src="images/{{k.image}}" alt="">
					</div>
					<div class="content-news">
						<div class="new-title"><span>{{k.title}}</span></div>
						<div class="text-muted published">Published by: {{k.author}} <img src="images/calendar.png" width="27" alt=""> Date: {{k.date}}</div>
						<div class="description-new">
							{{k.description}}
						</div>
						<div class="read-more text-muted">Read more >></div>
					</div>
				</div>
			</div>
			<div class="footer-wrapper">
				<div class="footer-content">
					<div class="column logo-footer">
						<img src="images/logo_white.png" alt="">
						<div class="copy-right text-center">
							<small>
								Copyright @ 2017 GNT Inc. <br>
								All Rights Reserved
							</small>
						</div>
					</div>
					<div class="column">
						<span>COMPANY</span>
						<ul>
							<li>News</li>
							<li>About Us</li>
							<li>Contact Us</li>
						</ul>
					</div>
					<div class="column">
						<span>SUPPORT</span>
						<ul>
							<li>FAQ</li>
							<li>Privacy Policy</li>
							<li>Terms of Services</li>
						</ul>
					</div>
					<div class="column">
						<span>EXPLORE</span>
						<ul>
							<li>Testimonials</li>
							<li>Our Team</li>
							<li>Current Partners</li>
						</ul>
					</div>
				</div>
				<div class="social-icon">
					<a href="#facebook" class="icon icon-fb"></a>
					<a href="#twitter" class="icon icon-twitter"></a>
					<a href="#instagram" class="icon icon-instagram"></a>
					<a href="#pinterset" class="icon icon-pinterset"></a>
					<a href="#yutub" class="icon icon-yutub"></a>
				</div>
			</div>
		</section>
	</div>	
</body>
<script type="text/javascript">
	(function($){
		$(document).ready(function() {
			setTimeout(function(){
				$('#gnt-description .slogan-text').addClass('active');	
			}, 500);
		    $('#fullpage').fullpage({ //init full page js
		    	anchors: ['video', 'whatwedo', 'feedback', 'footer'],

		    	scrollBar: true,
		    	autoScrolling: false,
		    	lazyLoading: false,
		    	fitToSection: false,
		    	afterLoad: function(anchorLink, index){
		    		console.log(anchorLink, index);
		    		if(index == 2 && anchorLink == 'whatwedo'){
		    			$('.wrapper-section-whatwedo .left-field .item-info').addClass('active');
		    			$('.right-field img').addClass('active');
		    			$('a.scroll-down').addClass('hide');
		    			$('section.js-full-height header').addClass('fix-down');
		    		}else if(index == 3 && anchorLink == 'feedback'){
		    			$('.axeroItro').addClass('active');
		    			$('.ng-controller').addClass('active');
		    			$('section.js-full-height header').addClass('fix-down');
		    		}else if(index == 1 && anchorLink == 'video'){
		    			$('a.scroll-down').removeClass('hide');
		    			$('section.js-full-height header').removeClass('fix-down');
		    		}else if(index == 4 && anchorLink == 'footer'){
		    			$('section.js-full-height header').addClass('fix-down');
		    		}
		    	}
		    });

		    //play vid after 3s
			var vid = document.getElementById('video-gnt-background');
			var slogan = document.getElementById('gnt-description'); var timeoutVid;
			vid.addEventListener('canplay', function(){
				timeoutVid = setTimeout(function() {
					//slogan.setAttribute('class', 'hidden');
					//$(".icon-watch").addClass('blur');
					//vid.play();
				}, 5000);
			});

			var url = 'https://www.youtube.com/embed/axJPdHFTzF4?autoplay=1';

			$('body').on('click', '.icon-watch', function(){
				if(vid.paused){
					vid.pause();
				}else{clearTimeout(timeoutVid);}

				$('#video-youtube-id').attr('src', url);
				$('.modal-video').addClass('open');
			});

			$('body').on('click', '.hero-modal-close', function(){
				vid.play();
				$('#video-youtube-id').attr('src', '');
				$('.modal-video').removeClass('open');
			});
		});
	}(jQuery));
	
	var app = angular.module('moduleMain', []);
	app.controller('ctrlSlide', function($scope){
		$scope.slideList = [
			{	
				active: true,
				imgUrl: 'images/Ava.png', 
				feedBackContent: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse a sapiente obcaecati! Facilis, exercitationem similique, nobis quo distinctio possimus accusamus vel? Incidunt aliquam pariatur ratione nisi ullam quas id dolorum!',
				author: 'Kristen Stewart',
				position: 'Marketing director at microsoft',
				logoCompany: 'Logo-microsoft.png'
			},
			{
				active: false,
				imgUrl: 'images/Ava.png', 
				feedBackContent: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse a sapiente obcaecati! Facilis, exercitationem similique, nobis quo distinctio possimus accusamus vel? Incidunt aliquam pariatur ratione nisi ullam quas id dolorum!',
				author: 'Leo Nguyen 2',
				position: 'Google CEO',
				logoCompany: 'google.png'
			},
			{
				active: false,
				imgUrl: 'images/Ava.png', 
				feedBackContent: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse a sapiente obcaecati! Facilis, exercitationem similique, nobis quo distinctio possimus accusamus vel? Incidunt aliquam pariatur ratione nisi ullam quas id dolorum!',
				author: 'Leo Nguyen 3',
				position: 'UI/UX Designer',
				logoCompany: 'WordPress.png'
			},
			{
				active: false,
				imgUrl: 'images/Ava.png', 
				feedBackContent: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse a sapiente obcaecati! Facilis, exercitationem similique, nobis quo distinctio possimus accusamus vel? Incidunt aliquam pariatur ratione nisi ullam quas id dolorum!',
				author: 'Leo Nguyen 3',
				position: 'UI/UX Designer',
				logoCompany: 'cisco.png'
			},
			{
				active: false,
				imgUrl: 'images/Ava.png', 
				feedBackContent: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse a sapiente obcaecati! Facilis, exercitationem similique, nobis quo distinctio possimus accusamus vel? Incidunt aliquam pariatur ratione nisi ullam quas id dolorum!',
				author: 'Leo Nguyen 3',
				position: 'UI/UX Designer',
				logoCompany: 'fb.png'
			}
		];

		$scope.nexSlide = function(){
			return $scope.slideList.filter(function(slide){
				return slide.active == true;
			}).
			map(function(slide){
				slide.active = false;
				var index = $scope.slideList.indexOf(slide);
				var nextSlide = (index < $scope.slideList.length - 1) ? index + 1 : 0;
				$scope.slideList[nextSlide].active = true;
			});
		}

		$scope.previousSlide = function(){
			return $scope.slideList.filter( function(slide) {
				return slide.active == true;
			}).
			map(function(slide) {
				slide.active = false;
				var index = $scope.slideList.indexOf(slide);
				var backSlide = (index > 0) ? index - 1 : $scope.slideList.length - 1;
				$scope.slideList[backSlide].active = true;
			});
		}

		$scope.listNews = [
			{
				image: 'News1.jpg', 
				title: 'Design for reality, not glory', 
				date: '10-01-2017', 
				author: 'Hung Nguyen', 
				description: `What we don’t realize though, is that many of the most well-known products didn’t start with global ambitions. 			Rather, they addressed a small, local need first and grew from there.
							So if you really want to develop your skills and produce a truly creative product, you’ll be much better off checking your ego and starting small.`
			},
			{
				image: 'News1.jpg',
				title: 'Design to code: lessions for a unicorn workflow',
				date: '10-01-2017',
				author: 'Hung Nguyen',
				description: 'Design is a process. It involves many people of many skill sets, across many locations, being thrown many curveballs, and using many programs—always accompanied by the endless, inevitable ticking of the project clock.'
			},{
				image: 'News3.jpg',
				title: 'The product roadmap that boosts innovation',
				date: '10-01-2017',
				author: 'Hung Nguyen',
				description: 'When I came around planning with the simple card-based roadmap known as theme-based roadmapping, it was because it just made sense.'
			}
		]
	});
</script>
</html>