*,
html,
body {
  font-size: 1rem;
  overflow-x: hidden;
}

.text-logo {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}

.top.slider {
  position: relative;
  overflow: hidden;
  min-height: 177px;
  height: auto;
  max-width: 1800px;
  margin: 77px auto 0;
}

.container-wrapper #main-content {
  padding: 1em;
}

.menu-list a.logo-item{
  background-color: #f0e68c;
}

.menu-list .navbar::after {
  content: '';
  clear: both;
  display: block;
}

.mobile-sidebarmenu {
  position: fixed;
  left: -2750px;
  top: 77px;
  width: 100%;
  background: #fff;
  transition: all 300ms cubic-bezier(.694, .0482, .335, 1);
  -webkit-transition: all 300ms cubic-bezier(.694, .0482, .335, 1);
}

.mobile-sidebarmenu li > a{
  color: black;
  cursor: pointer;
}

.mobile-sidebarmenu.actived {
  left: 0;
}

.mobile-sidebarmenu .navbar-item{
  border-top: 1px solid #e8e8e8;
}

.menu-list .navbar-burger {
  float: left;
  display: inline-block;
  margin-top: 15px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
}

.menu-list .navbar-burger:hover {
  background-color: transparent;
  border-radius: 0;
}

.menu-list .navbar-burger:focus,
.menu-list .navbar-burger:active {
  outline: 0;
  outline-style: none;
}

.top.slider .item-list-item{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  overflow: hidden;
}

.top.slider .item-list-item img {
  -webkit-filter: grayscale(70%);
          filter: grayscale(70%);
}

.top.slider .item-list-item.active {
  opacity: 1;
  z-index: 9;
}

.top.slider .item-list-item .item-description {
  position: absolute;
  color: #fff;
  padding-left: 40px;
  padding-right: 40px;
  z-index: 9;
  width: 100%;
}

.item-title {
  margin: 1em auto;
  display: inline-block;
  text-align: left;
  color: #363636;
  font-weight: 700;
  border-bottom: 2px solid #363636;
}

.top.slider .item-list-item .item-description a,
.top.slider .item-list-item .item-description .inverted {
  color: #333;
  cursor: pointer;
}

.top.slider .item-list-item .item-description a:hover {
  color: #fff;
}

.mobile-icon {
  float: right;
  margin-top: 20px;
}

.mobile-icon ul li {
  display: inline-block;
}

.top.slider .item-list-item .item-description a.btn {
  display: inline-block;
  border: 1px solid transparent;
  color: #fff;
  background: #333;
  padding: 5px 10px;
  margin-top: 10px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.top.slider .item-list-item .item-description a.btn:hover {
  border: 1px solid #fff;
  color: #fff;
  background: none;
}

.top.slider .item-list-item .item-description h3 {
  text-transform: uppercase;
  font-size: 25px;
}

.top.slider .item-list-item .item-description.is-right {
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: right;
}

.top.slider .item-list-item .item-description.is-left {
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.top.slider .item-list-item .item-description.is-center {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu-list .navbar-item.wrapperlogo {
  float: right;
}

.item-list .img-wrapper {
  max-width: 150px;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
}

.item-list .img-wrapper .button{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -48px;
  max-width: 96px;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  border-radius: 0;
}

.item-list .img-wrapper .button i {
  min-width: 18px;
}

.item-list .img-wrapper .button.addtocart {
  margin-left: 0;
}

.button-wrapper {
  margin-top: 1em;
  text-align: center;
  border-radius: 0;
}

.button-wrapper .button {
  border-radius: 0;
}

.item-list .img-wrapper:hover .button,
.item-list .item.adding .button {
  opacity: 1;
}

.item-list .img-wrapper:hover img,
.item-list .item.adding img {
  opacity: 0.5;
}

.item-list .img-wrapper img {
  display: none;
}

.item-list .img-wrapper img:first-of-type {
  display: block;
}

.item-list .item-name {
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.item-list .item-name:hover {
  color: black;
}

.item-list .item-price {
  font-weight: 700;
  text-align: center;
  color: #000;
}

#top-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 19;
  background: #fff;
}

.notification {
  padding: .5em;
  margin-top: 1em;
  display: none;
}

.notification._show {
  display: block;
}

.modal-content, .modal-card {
  text-align: center;
}

.minicart {
  position: relative;
}

.minicart .cart-number{
  position: absolute;
  right: 0;
  top: -5px;
  color: #ff3860;
}

@media (min-width: 480px) {
  .top.slider {
    min-height: 322px;
  }
}

@media (min-width: 768px) {
  .top.slider {
    min-height: 344px;
  }
  .container-wrapper #main-content  {
    padding: 0;
  }
}

@media (min-width: 1024px) {
  .menu-list .navbar-burger {
    display: none;
  }
  .top.slider {
    height: 681px;
  }
  .top.slider .item-list-item .item-description h3{
    font-size: 35px;
  }
  .top.slider .item-list-item .item-description.is-center {
    max-width: 700px;
    margin: 0 auto;
  }
}
